---
---

@import "{{ site.theme }}";

.site-title {
    background-image: url('/assets/logo.webp');
    background-repeat: no-repeat;
    background-position: -10px center;
    height: 80px;
    padding-left: 140px;
}

.site-header * {
    line-height: 80px;
}